:root{
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5% ;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Ready web responsive*/
.grid{
    width:1200px;
    max-width: 100%;
    margin: 0 auto; /*auto center*/

}

.grid_full_wìth{
    width:100%;
}
.grid_row{ /*element in this will row*/
    display: flex;
    flex-wrap: wrap;
}
